@model CBD.Models.Server
@using CBD.Services.Interfaces

@inject IImageService ImageService

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Server</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CBDUserId" />
            <input type="hidden" asp-for="Created" >
            <input type="hidden" asp-for="ImageData" />
            <input type="hidden" asp-for="ContentType" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="square-img-container">
                @if (Model.ImageData != null)
                {
                    <img id="oldImage" class="square-img" width="200px;" src="@ImageService.ConveryByteArrayToFile(Model.ImageData,Model.ContentType!)">
                }
                else
                {
                    <img id="oldImage" class="square-img" src="~/img/DefaultContactImage.png">
                }
            </div>
            <div>
                <input type="file" asp-for="Image" class="form-control" accept=".png,.jpg,.jpeg,.gif" onchange="document.getElementById('oldImage').src= window.URL.createObjectURL(this.files[0])" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
